*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.container-wrap{
    max-width: 1060px;
    width: 100%;
    padding: 0 15px;
    margin:auto;
}

/*======== Header secion css ======= */
#header-section{
    background-image: url('img/banner1.png');
    height:100vh;
}

.header-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
}

.header-content-wrap {
    text-align: right;
}

.header-text{
    max-width: 525px;
}
.banner-title {
    font-size: 66px;
    font-weight: 700;
    color: #151414;
}
.banner-desc{
    padding-bottom: 28px;
}
.banner-btn {
    background: tomato;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* ===== About section css ===== */
.about-wrap {
    display: flex;
    align-items: center;
    gap: 87px;
    padding: 130px 0px 0px;
}
.about-content {
    padding-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
    color:#151414;
}
.about-desc{
    padding-bottom: 16px;
    padding-top: 24px;
}
.my-expreiance-list li {
    list-style: none;
}
.my-expreiance-list li i {
    margin-bottom: 8px;
    margin-right: 10px;
    color: #07ee8e;
}

/* portfolio section css */
.portfolio-section {
    padding: 100px 0px;
}
.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.portfolio-title{
    padding-top: 10px;
    text-align: center;
}
/*========= plans section css ======== */

.section-title{
    font-weight : 700;
    text-align: center;
    font-size: 35px;
    color: #201b1b;
}
.plan-box-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.plan-item{
    text-align: center;
}
.plan-title{
    font-weight: 700;
    margin: 12px 0px 15px;
    font-size:22px;
}

/* CTA area styles */
#small-banner{
    padding: 80px 0px;
}
.banner-wrap {
    background: linear-gradient(90deg, #d34710bf 20%, #f15d2244 100%), url('img/watch.png');
    padding: 59px 64px;
}
.banner-title {
    width: 470px;
}
.banner-title {
    font-size: 40px;
    color: #fff;
    padding-bottom: 24px;
}
.banner-button {
    padding: 18px 36px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color:#F15B22;
}

/*==== footer area styles =====*/
.footer-section{
    padding: 100px 0px;
    background-color: #161414;
}
.footer-content {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.footer-text {
    max-width: 485px;
}
.footer-title{
    font-size: 45px;
    color:#fff;
    font-weight: 600;
}
.footer-description {
    color: #fff;
    padding: 16px 0 24px;
}
.contact-address {
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    max-width: 325px;
    width: 100%;
}

.form-title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
    color:#fff;
}

.submit-btn {
    color: #F15B22;
    border: none;
    font-weight: 600;
    border-radius: 6px;
    padding: 15px 36px;
    margin-top: 16px;
    font-size: 20px;
    cursor: pointer;
}

.form-input {
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #fff;
    outline: none;
    display: block;
    background-color: transparent;
    color: #fff;
    width: 100%;
}
input::placeholder{
    color:#fff;
}
